.line{
    height: 4px;
    width: 80px;
    background-color: black;
}

.layer{
    background-color: #1abc9ce6;
    opacity: 0;
    cursor: pointer;
    transition: .6s opacity;
    width: 100%;
    height: 100%;

}
.card:hover .layer{
    opacity: 1;
}